[Desktop Entry]
Type=Application
Name=Slack Unread
Comment=Show the Slack unread count in the COSMIC panel
Exec=cosmic-applet-slack
Icon=com.github.ragusa87.CosmicAppletSlack
Terminal=false
Categories=COSMIC;X-COSMIC-Applet;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=2
